@using aspapp.Models.VM
@model TravelerViewModel

@{
    ViewData["Title"] = "Create Traveler";
}

<h1>Create New Traveler</h1>

<form asp-action="Create" method="post" class="p-4 border rounded bg-grey">
    <div class="form-group">
        <label asp-for="Firstname" class="control-label"></label>
        <input asp-for="Firstname" class="form-control" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Lastname" class="control-label"></label>
        <input asp-for="Lastname" class="form-control" />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BirthDate" class="control-label"></label>
        <input asp-for="BirthDate" class="form-control" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a href="@Url.Action("Index", "Traveler")" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
