@model IEnumerable<aspapp.Models.VM.TripViewModel>
@{
    ViewData["Title"] = "Wycieczki";
}

<h2>Lista Wycieczek</h2>

<table class="table p-4 border rounded bg-grey">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Data rozpoczęcia</th>
            <th>Przewodnik</th>
            <th>Podróżnicy</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var trip in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "Trip", new { id = trip.TripId })" class="btn btn-warning btn-sm">Edit</a>
                    <!-- Add delete functionality here if needed -->
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Trip", new { id = trip.TripId })" class="btn btn-warning btn-sm">Delete</a>
                    <!-- Add delete functionality here if needed -->
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">Back to List</a>
